name: Test

# プルリクエスト or 手動実行 
on: [pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # テストを実行
  test:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout git repository
        uses: actions/checkout@v2

      - name: Run tests
        run: bash -c "make -C test"
